* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
}

iframe {
  width: 100%;
  height: 100%;
}

form {
  width: 400px;
  margin: 20px auto;
}

label {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: .6rem;
  text-transform: uppercase;
}

.form-field {
  width: 100%;
  height: 4rem;
  position: relative;
  margin-bottom: 1.6rem;
  border-radius: 4px;
  box-shadow: 0 0 3px 0px #bcbcbc;
  padding: 0 10px;
  border: 1px solid transparent;
}

.form-field-group {
  display: flex;
  flex-flow: wrap;
}

.form-field-group div {
  flex: 0 0 50%;
}

.form-field-group div:first-child div {
  border-radius: 4px 0 0 4px;
  clip-path: inset(-3px 0px -3px -3px);
}

.form-field-group div:last-child div {
  border-radius: 0 4px 4px 0;
}

button[type="submit"] {
  width: 100%;
  color: white;
  background-color: #1890FF;
  margin-top: 1.6rem;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
  font-size: 1.4rem;
  height: 4rem;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.form-field.vgs-collect-container__focused {
  border-color: #1890FF;
}

.form-field-group .form-field.vgs-collect-container__focused {
  clip-path: none;
}